<div *ngIf="llegoUsuario == true && llegoPrenda == true" class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user.nickname}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a [routerLink]="['/perfil']"><i class="fas fa-user"></i></a>
      </div>
      <div class="clima-box">
        <a [routerLink]="['/ver-clima']"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a><img src="../../../assets/images/GenerarAtuendo.png" alt=""></a><br>
        <a>Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a [routerLink]="['/mi-armario']"><img src="../../../assets/images/MiArmario.png" alt=""></a>
        <a [routerLink]="['/mi-armario']">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a [routerLink]="['/favoritos']"><img src="../../../assets/images/Favorito.png" alt=""></a>
        <a [routerLink]="['/favoritos']">Favoritos</a>
      </div>
      <div class="history-box">
        <a><img src="../../../assets/images/GestionarAtuendo.png" alt=""></a>
        <a href="#">Gestionar atuendos</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <img src="../../../assets/images/accesorios.png" alt="Zapatos...">
      <h2>Mi armario: Accesorios</h2>
    </div>
    <div *ngIf="vacio == true" class="vacio">
      {{vacioMessage}}
    </div>
    <div class="display-box">
      <div class="box" *ngFor="let prenda of accesorios">
        <div class="image">
          <img src="{{prenda.url}}" alt="Prenda...">
        </div>
        <div class="details">
          <div class="cnt-box">
            <h2>Sección</h2>
            <p>{{prenda.seccion}}</p>
            <h2>Tipo</h2>
            <p>{{prenda.tipo}}</p>
            <h2>Descripción</h2>
            <p>{{prenda.descripcion}}</p>
          </div>
        </div>
        <div class="desc-box">
          <div class="form-box">
            <a><i class="fab fa-black-tie"></i></a>
            <h2>{{prenda.formalidad}}/5</h2>
          </div>
          <div class="abrigo-box">
            <a><i class="fas fa-snowflake"></i></a>
            <h2>{{prenda.abrigo}}/5</h2>
          </div>
        </div>
        <div class="btn-box">
          <div *ngIf="prenda.favorito == false" class="btn">
            <button (click)="cambiarFavorito(prenda.id)" class="btn-nofavorito"></button>
          </div>
          <div *ngIf="prenda.favorito == true" class="btn">
            <button (click)="cambiarFavorito(prenda.id)" class="btn-favorito"></button>
          </div>
          <div *ngIf="prenda.disponible == false" class="btn">
            <button (click)="cambiarDisponible(prenda.id)" class="btn-nodisponible"></button>
          </div>
          <div *ngIf="prenda.disponible == true" class="btn">
            <button (click)="cambiarDisponible(prenda.id)" class="btn-disponible"></button>
          </div>
          <div class="btn">
            <button (click)="eliminarPrenda(prenda.id)" class="btn-eliminar"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


