<div *ngIf="llegoUsuario == true && llegoAtuendos == true && llegoPrendas == true" class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user.nickname}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a [routerLink]="['/perfil']"><i class="fas fa-user"></i></a>
      </div>
      <div class="clima-box">
        <a [routerLink]="['/ver-clima']"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a [routerLink]="['/generar-atuendo']"><img src="../../assets/images/GenerarAtuendo.png" alt=""></a><br>
        <a [routerLink]="['/generar-atuendo']">Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a [routerLink]="['/mi-armario']"><img src="../../assets/images/MiArmario.png" alt=""></a>
        <a [routerLink]="['/mi-armario']">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a [routerLink]="['/favoritos']"><img src="../../assets/images/Favorito.png" alt=""></a>
        <a [routerLink]="['/favoritos']">Favoritos</a>
      </div>
      <div class="history-box">
        <a [routerLink]="['/menu-atuendos']"><img src="../../assets/images/GestionarAtuendo.png" alt=""></a>
        <a [routerLink]="['/menu-atuendos']">Gestionar atuendos</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <img src="../../../assets/images/Atuendos-favoritos.png" alt="Atuendos...">
      <h2>Mis atuendos favoritos</h2>
    </div>
    <div *ngIf="vacio == true" class="vacio">
      {{vacioMessage}}
    </div>
    <div class="display-box">
      <div class="box" *ngFor="let atuendo of atuendos">
        <div class="panel-sup">
          <div [ngClass]="{'superior':atuendo.numSup > 1,'image-superior':atuendo.numSup <= 1}">
            <div *ngFor="let prenda of atuendo.prendas">
              <img *ngIf="prenda.seccion == 'Superior'" src="{{prenda.url}}" alt="Atuendos...">
            </div>
          </div>
          <div [ngClass]="{'accesorio':atuendo.numAcc > 1, 'image-accesorio': atuendo.numAcc <= 1}">
            <div *ngFor="let prenda of atuendo.prendas">
              <img *ngIf="prenda.seccion == 'Accesorio'" src="{{prenda.url}}" alt="Atuendos...">
            </div>
            <div *ngIf="atuendo.numAcc == 0" class="noAcc">
              <img src="../../../assets/images/NoAcc.png" alt="Atuendos...">
            </div>
          </div>
        </div>
        <div class="panel-inf">
          <div class="image-inferior" *ngFor="let prenda of atuendo.prendas">
            <img *ngIf="prenda.seccion == 'Inferior'" src="{{prenda.url}}" alt="Atuendos...">
          </div>
          <div class="image-zapato" *ngFor="let prenda of atuendo.prendas">
            <img *ngIf="prenda.seccion == 'Zapato'" src="{{prenda.url}}" alt="Atuendos...">
          </div>
        </div>
        <div class="btn-box">
          <div class="btn">
            <button class="btn-share"></button>
          </div>
          <div class="btn">
            <button (click)="poner(atuendo.id)" class="btn-choose"></button>
          </div>
          <div class="btn">
            <button (click)="eliminar(atuendo.id)" class="btn-eliminar"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="popup == true" class="delete-box">
    <p>Estás seguro que quieres eliminar este atuendo de tus favoritos?</p><br>
    <button class="btn-popup" (click)="aceptar()">Eliminar</button>
    <button class="btn-popup" (click)="cancelar()">Cancelar</button>
  </div>
</div>
