.wrapper {
  display: flex;
  position: relative;
}

.wrapper .side-bar {
  position: fixed;
  width: 235px;
  height: 100vh;
  background-color: #FBEAEB;
  border-right: 4.5px solid black;
}

.img-box {
  text-align: center;
}

.side-bar img {
  width: 150px;
  height: 75px;
}

.wrapper a {
  padding-right: 7px;
}

.user-box {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.user-box a{
  margin-left: 10px;
}

.user-box p{
  padding-left: 10px;
  font-weight: bold;
}

.options-box {
  padding-top: 10px;
  justify-content: space-evenly;
  display: flex;
  margin: 0 auto;
  border-bottom: 1.5px solid black;
}

.options-box a {
  cursor: pointer;
}

.config-box, .clima-box {
  margin-bottom: 10px;
}

.generate-box, .closet-box, .favorite-box, .history-box {
  border-bottom: 1.5px solid black;
  height: 109px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.generate-box a, .closet-box a, .favorite-box a, .history-box a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.generate-box img, .closet-box img, .favorite-box img, .history-box img {
  width: 23px;
  height: 23px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.generate-box:hover, .closet-box:hover, .favorite-box:hover, .history-box:hover, .options-box:hover {
  background-color: rgb(110, 121, 179);
  font-size: 17px;
}

.generate-box:hover a, .closet-box:hover a, .favorite-box:hover a, .history-box:hover a, .options-box:hover a {
  background-color: rgb(110, 121, 179);
  font-size: 17px;
  color: #FBEAEB;
}

.wrapper .content {
  margin-left: 235px;
  width: 100%;
  align-content: center;
  height: 100vh;
}

.title {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 50px;
  height: 50px;
}

.title h2 {
  margin-left: 15px;
  font-size: 30px;
  color: white;
}

.vacio {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  margin-top: 80px;
  color: #FBEAEB;
  font-weight: bold;
}

.display-box {
  width: 950px;
  position: absolute;
  left: 22%;
  top: 18%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
}

.display-box .box {
  position: relative;
  width: 400px;
  border: 2px solid #DAA520;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

.image-superior, .image-inferior, .image-zapato, .image-accesorio {
  margin-top: 5px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

.image-superior img, .image-inferior img, .image-zapato img, .image-accesorio img {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 1s;
}

.accesorio {
  display: inline-flex;
  transition: transform 1s;
}

.superior {
  align-items: center;
  display: inline-flex;
  transition: transform 1s;
}

.panel-sup {
  align-items: center;
  display: inline-flex;
}

.panel-inf {
  align-items: center;
  display: inline-flex;
}

.box:hover .image-superior img {
  transform: scale(1.05);
}

.box:hover .image-zapato img {
  transform: scale(1.05);
}

.box:hover .image-inferior img {
  transform: scale(1.05);
}

.box:hover .image-accesorio img {
  transform: scale(1.05);
}

.box:hover .superior img {
  transform: scale(1.05);
}

.box:hover .accesorio img {
  transform: scale(1.05);
}

.btn-box {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.accesorio img, .superior img{
  width: 110px;
  height: 110px;
}

.noAcc {
  opacity: 0.00;
}

.noAcc img {
  width: 150px;
  height: 150px;
}

button {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-choose {
  background: url(../../../assets/images/Choose.png);
  background-size: cover;
}

.btn-eliminar {
  background: url(../../../assets/images/Eliminar.png);
  background-size: cover;
}

.btn-share {
  background: url(../../../assets/images/Share.png);
  background-size: cover;
}

.btn {
  margin-bottom: 10px;
}

.delete-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  position: absolute;
  width: 550px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.92;
}

.btn-popup {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  height: 45px;
  width: 115px;
  border-radius: 10px;
  background-color: #2F3C7E;
  color: white;
  font-weight: bold;
  border: 1.5px solid black;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
}

.msg-box {
  color: #FBEAEB;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

