<div class="background">
  <div class="wrapper">
    <div class="title">
      <img src="../../assets/images/logo.png" alt="Logo...">
      <h2>Registro</h2>
    </div>
    <div class="form">
      <div class="lbl-box">
        <div class="lbl">
          <label class="lbl-name">Nombre</label>
        </div>
        <div class="lbl">
          <label class="lbl-user">Apellido</label>
        </div>
        <div class="lbl">
          <label class="lbl-gender">Género</label>
        </div>
        <div class="lbl">
          <label class="lbl-mail">Correo</label>
        </div>
        <div class="lbl">
          <label class="lbl-nickname">Nickname</label>
        </div>
        <div class="lbl">
          <label class="lbl-ciudad">Ciudad</label>
        </div>
        <div class="lbl">
          <label class="lbl-celular">Telefono</label>
        </div>
        <div class="lbl">
          <label class="lbl-pregSecurity">Pregunta de Seguridad</label>
        </div>
        <div class="lbl">
          <label class="lbl-respSecurity">Respuesta de Seguridad</label>
        </div>
        <div class="lbl">
          <label class="lbl-password">Contraseña</label>
        </div>
        <div class="lbl">
          <label class="lbl-confirm">Confirmar Contraseña</label>
        </div>
      </div>
      <div class="input-box">
        <input class="input-name" type="text" [(ngModel)]="usuario.nombre"><br>
        <input class="input-apellido" type="text" [(ngModel)]="usuario.apellido"><br>
        <select class="input-gender" [(ngModel)]="usuario.genero">
          <option selected disabled>Escoja su género...</option>
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select><br>
        <input class="input-mail" type="text" [(ngModel)]="usuario.correo"><br>
        <input class="input-nickname" type="text" [(ngModel)]="usuario.nickname"><br>
        <input class="input-ciudad" type="text" [(ngModel)]="usuario.ciudad"><br>
        <input class="input-celular" type="text" [(ngModel)]="usuario.celular"><br>
        <select class="input-pregunta" [(ngModel)]="usuario.pregunta">
          <option selected disabled>Escoja su pregunta de seguridad...</option>
          <option value="¿Cuál es el nombre de tu primera mascota?">¿Cuál es el nombre de tu primera mascota?</option>
          <option value="¿Cuál es tu comida favorita?">¿Cuál es tu comida favorita?</option>
          <option value="¿Cuál es el nombre de tu madre?">¿Cuál es el nombre de tu madre?</option>
          <option value="¿Cuál es tu ciudad de nacimiento?">¿Cuál es tu ciudad de nacimiento?</option>
        </select><br>
        <input class="input-respuesta" type="text" [(ngModel)]="usuario.respuesta"><br>
        <input class="input-password" type="password" [(ngModel)]="usuario.password"><br>
        <input class="input-confirm" type="password" [(ngModel)]="confirmPass"><br>
      </div>
    </div>
    <div class="btn-box">
        <button (click)=register() [disabled]="!canSubmit">Registrarse</button>
    </div>
    <div class="msg-box">
      {{message}}
    </div>
  </div>
</div>



