<div class="background">
  <div class="wrapper">
    <div class="title-header">
      <img src="../../assets/images/SmartCloset.png" alt="Smart Closet...">
    </div>
    <div class="header">
      <div class="title">
          <h1>Bienvenido a Smart Closet</h1>
          <p>Tú mejor look a un solo click</p>
      </div>
    </div>
    <div class="btn-box">
      <button (click)="login()">Iniciar Sesión</button>
      <button (click)="register()">Registrarse</button>
    </div>
  </div>
</div>



