<div class="header">
    <div class="title">
        <h2>Registro</h2>
    </div>
    <div class="image">
        <img src="./Images/Logo.png" alt="Logo...">
    </div>
</div>
<div class="form">
    <div class="form-input">
        <label class="lbl-name">Nombre</label>
        <input class="input-name" type="text"><br>
    </div>

    <div class="form-input">
        <label class="lbl-user">Usuario</label>
        <input class="input-user" type="text"><br>
    </div>

    <div class="form-input">
        <label class="lbl-gender">Género</label>
        <select class="input-gender">
            <div class="options">
                <option selected disabled>Escoga su género...</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </div>
        </select><br>
    </div>

    <div class="form-input">
        <label class="lbl-mail">Correo</label>
        <input class="input-mail" type="text"><br>
    </div>

    <div class="form-input">
      <label class="lbl-nickname">Nickname</label>
      <input class="input-nickname" type="text"><br>
    </div>

    <div class="form-input">
      <label class="lbl-ciudad">Ciudad</label>
      <input class="input-ciudad" type="text"><br>
    </div>

    <div class="form-input">
      <label class="lbl-celular">Telefono</label>
      <input class="input-celular" type="text"><br>
    </div>

    <div class="form-input">
        <label class="lbl-password">Contraseña</label>
        <input class="input-password" type="password"><br>
    </div>

    <div class="form-input">
        <label class="lbl-confirm">Confirmar Contraseña</label>
        <input class="input-confirm" type="password"><br>
    </div>
</div>

<div class="btn-box">
    <button>Registrarse</button>
</div>
