.wrapper {
  display: flex;
  position: relative;
}

.wrapper .side-bar {
  position: fixed;
  width: 235px;
  height: 100vh;
  background-color: #FBEAEB;
  border-right: 4.5px solid black;
}

.img-box {
  text-align: center;
}

.side-bar img {
  width: 150px;
  height: 75px;
}

.wrapper a {
  padding-right: 7px;
}

.user-box {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.user-box a{
  margin-left: 10px;
}

.user-box p{
  padding-left: 10px;
  font-weight: bold;
}

.options-box {
  padding-top: 10px;
  justify-content: space-evenly;
  display: flex;
  margin: 0 auto;
  border-bottom: 1.5px solid black;
}

.options-box a {
  cursor: pointer;
}

.config-box, .clima-box {
  margin-bottom: 10px;
}

.generate-box, .closet-box, .favorite-box, .history-box {
  border-bottom: 1.5px solid black;
  height: 109px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.generate-box a, .closet-box a, .favorite-box a, .history-box a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.generate-box img, .closet-box img, .favorite-box img, .history-box img {
  width: 23px;
  height: 23px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.generate-box:hover, .closet-box:hover, .favorite-box:hover, .history-box:hover, .options-box:hover {
  background-color: #2F3C7E;
  font-size: 17px;
}

.generate-box:hover a, .closet-box:hover a, .favorite-box:hover a, .history-box:hover a, .options-box:hover a {
  background-color: #2F3C7E;
  font-size: 17px;
  color: #FBEAEB;
}

.wrapper .content {
  margin-left: 235px;
  width: 100%;
  align-content: center;
  height: 100vh;
}

.title {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  width: 50px;
  height: 50px;
}

.title h2 {
  margin-left: 15px;
  font-size: 30px;
  color: white;
}

.panel-box {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  color: white;
}

.panel-box select {
  width: 175px;
  height: 25px;
  border-radius: 5px;
  border: 1.5px solid #FBEAEB;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

option {
  cursor: pointer;
}

.display-box {
  width: 950px;
  position: absolute;
  left: 22%;
  top: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
  justify-content: center;
}

.display-box .box {
  position: relative;
  width: 275px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  background-color: white;
}

.display-box .assigned {
  position: relative;
  width: 275px;
  border: 5px dashed #C40A92;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  background-color: white;
}

.display-box .favorite {
  position: relative;
  width: 275px;
  border: 2px solid #DAA520;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  background-color: white;
}

.desc-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.image {
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
}

.image img {
  width: 220px;
  height: 220px;
  transition: transform 1s;
}

.box:hover .image img {
  transform: scale(1.05);
  cursor: pointer;
}

.form-box, .abrigo-box {
  display: flex;
  align-content: center;
  align-items: center;
}

.form-box h2, .abrigo-box h2 {
  font-size: 12px;
}

.atuendo-box {
  text-align: center;
  margin-left: 30px;
  width: 950px;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 10px;
}

.prendas-box {
  display: inline-flex;
  margin: 5px;
}

.prenda-escogida img {
  width: 75px;
  height: 75px;
}

.btn-agregar {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.btn-agregar button {
  font-size: 14px;
  height: 35px;
  width: 105px;
  border-radius: 10px;
  background-color: #FBEAEB;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
  cursor: pointer;
  outline: none;
}

.btn-eliminar {
  background: url(../../../assets/images/NoDisponible.png);
  background-size: cover;
}

.btn-prenda button {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  outline: none;
}

.msg-agregar {
  width: 100%;
  margin-top: 80px;
  text-align: center;
  color: #FBEAEB;
  font-weight: bold;
}

.msg-error {
  width: 100%;
  text-align: center;
  color: #2F3C7E;
  font-weight: bold;
}



