<div *ngIf="llegoUsuario == true" class="background">
  <div class="wrapper">
    <div class="title">
      <img src="../../assets/images/logo.png" alt="Logo...">
      <h1>Recuperar Contraseña</h1>
    </div>
    <div class="form">
      <div class="form-input">
          <p>Hola {{user.nickname}}! Responde la siguiente pregunta de seguridad para recuperar tu contraseña</p><br>
          <label class="lbl-pregunta">{{user.pregunta}}</label>
          <div class="input-verificar">
            <input class="input-respuesta" type="text" [(ngModel)]="respuesta"><br>
          </div>
          <div class="btn-verificar">
            <button (click)="verificar()">Verificar</button>
          </div>
      </div>
    </div>
    <div *ngIf="correct == true" class="password-box">
      <div class=form>
        <p>Ingresa tu nueva contraseña</p><br>
        <div class="form-input">
          <label class="lbl-password">Contraseña nueva</label>
          <input class="input-respuesta" type="password" [(ngModel)]="password">
        </div>
        <div class="form-input">
          <label class="lbl-confirm">Confirmar contraseña</label>
          <input class="input-respuesta" type="password" [(ngModel)]="confirm">
        </div>
      </div>
      <div class="btn-confirmar">
        <button (click)="confirmar()">Confirmar</button>
      </div>
    </div>
    <div class="msg-box">
      {{message}}
    </div>
  </div>
</div>

