label, h1, h2, p {
  font-family: cursive;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .side-bar {
  position: fixed;
  width: 235px;
  height: 100vh;
  background-color: #C40A92;
  border-right: 4.5px solid black;
}

.img-box {
  text-align: center;
}

.side-bar img {
  width: 150px;
  height: 75px;
}

.wrapper a {
  padding-right: 7px;
}

.user-box {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid black;
}

.user-box a{
  margin-left: 10px;
}

.user-box p{
  padding-left: 10px;
  font-weight: bold;
  font-family: cursive;
}

.options-box {
  padding-top: 10px;
  justify-content: space-evenly;
  display: flex;
  margin: 0 auto;
  border-bottom: 1.5px solid black;
}

.options-box a {
  cursor: pointer;
}

.config-box, .clima-box {
  margin-bottom: 10px;
}

.generate-box, .closet-box, .favorite-box, .history-box {
  border-bottom: 1.5px solid black;
  height: 109px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.generate-box a, .closet-box a, .favorite-box a, .history-box a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: cursive;
  font-weight: bold;
}

.generate-box img, .closet-box img, .favorite-box img, .history-box img {
  width: 23px;
  height: 23px;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.generate-box:hover, .closet-box:hover, .favorite-box:hover, .history-box:hover, .options-box:hover {
  background-color: rgb(153, 7, 114);
  font-size: 17px;
}

.wrapper .content {
  margin-left: 235px;
  width: 100%;
  align-content: center;
  height: 100vh;
  background: url(../../assets/images/Clima.jpg);
  background-size: cover;
}

.infoclima-box {
  width: 500px;
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: #4DC4EB;
  text-align: center;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.infoclima-box .title-clima {
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 18px;
}

.content-table {
  font-family: cursive;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 14px;
  min-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table th, .content-table td {
  padding: 5px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd) {
  color: #f3f3f3;
  background-color: #C40A92;
}

.content-table tbody tr:last-of-type {
  border-bottom: 3px solid black;
}

input {
  border-radius: 8px;
  height: 25px;
  padding-left: 8px;
  border: 1px solid black;
}

button {
  margin-left: 5px;
  font-size: 14px;
  height: 25px;
  width: 100px;
  border-radius: 8px;
  background-color: #C40A92;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 15px;
  outline: none;
}

.map-clima {
  margin: 10px;
  border: 1px solid black;
}

agm-map {
  height: 200px;
}
