<div class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a (click)="irAPerfil()"><i class="fas fa-user"></i></a>
      </div>
      <div class="share-box">
        <a><i class="fas fa-share"></i></a>
      </div>
      <div class="clima-box">
        <a (click)="verClima()"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a><i class="fas fa-tshirt"></i></a><br>
        <a href="#">Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a><i class="fas fa-door-closed"></i></a>
        <a href="#">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a><i class="fas fa-star"></i></a>
        <a href="#">Favoritos</a>
      </div>
      <div class="history-box">
        <a><i class="fas fa-book"></i></a>
        <a href="#">Historial de atuendos</a>
      </div>
    </div>
  </div>
</div>

