<div *ngIf="llegoUsuario == true" class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user.nickname}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a [routerLink]="['/perfil']"><i class="fas fa-user"></i></a>
      </div>
      <div class="clima-box">
        <a [routerLink]="['/ver-clima']"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a><img src="../../../assets/images/GenerarAtuendo.png" alt=""></a><br>
        <a>Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a [routerLink]="['/mi-armario']"><img src="../../../assets/images/MiArmario.png" alt=""></a>
        <a [routerLink]="['/mi-armario']">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a [routerLink]="['/favoritos']"><img src="../../../assets/images/Favorito.png" alt=""></a>
        <a [routerLink]="['/favoritos']">Favoritos</a>
      </div>
      <div class="history-box">
        <a><img src="../../../assets/images/GestionarAtuendo.png" alt=""></a>
        <a href="#">Gestionar atuendos</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title-box">
      <img src="../../../assets/images/GenerarAtuendo.png" alt="Logo.png">
      <h2>Agregar Prenda</h2>
    </div>
    <div class="add-box">
      <div class="form">
        <div class="lbl-box">
          <div class="lbl">
            <label class="lbl-seccion">Sección</label>
          </div>
          <div class="lbl">
            <label class="lbl-prenda">Tipo de prenda</label>
          </div>
          <div *ngIf="sup == true" class="lbl">
            <label class="lbl-cuello">Tipo de cuello</label>
          </div>
          <div *ngIf="sup == true" class="lbl">
            <label class="lbl-manga">Tipo de manga</label>
          </div>
          <div *ngIf="inf == true" class="lbl">
            <label class="lbl-manga">Tipo de bota</label>
          </div>
          <div *ngIf="zap == true" class="lbl">
            <label class="lbl-manga">Tipo de forma</label>
          </div>
          <div class="lbl">
            <label class="lbl-formalidad">Nivel de formalidad</label>
          </div>
          <div class="lbl">
            <label class="lbl-abrigo">Nivel de abrigo</label>
          </div>
          <div class="lbl">
            <label class="lbl-color">Color</label>
          </div>
          <div class="lbl">
            <label class="lbl-descripcion">Descripción de la prenda</label>
          </div>
        </div>
        <div class="input-box">
          <div class="inp">
            <select [(ngModel)]="prenda.seccion" class="input-seccion" (change)="filtrarSeccion()">
              <option selected disabled>Tipo de prenda...</option>
              <option value="Superior">Superior</option>
              <option value="Inferior">Inferior</option>
              <option value="Accesorio">Accesorio</option>
              <option value="Zapato">Zapato</option>
            </select>
          </div>
          <div class="inp">
            <input class="input-tipo" placeholder="Camisa, Camiseta, Blusa..." type="text" [(ngModel)]="prenda.tipo">
          </div>
          <div *ngIf="sup == true" class="inp">
            <select [(ngModel)]="prenda.cuello" class="input-cuello">
              <option selected disabled>Tipo de cuello...</option>
              <option value="Redondo">Redondo</option>
              <option value="Tortuga">Tortuga</option>
              <option value="V">V</option>
              <option value="Cuello">Cuello</option>
              <option value="Escote">Escote</option>
            </select>
          </div>
          <div *ngIf="sup == true" class="inp">
            <select [(ngModel)]="prenda.manga" class="input-manga">
              <option selected disabled>Tipo de manga...</option>
              <option value="Manga larga">Manga larga</option>
              <option value="Manga corta">Manga corta</option>
              <option value="3/4">3/4</option>
            </select>
          </div>
          <div *ngIf="inf == true" class="inp">
            <select [(ngModel)]="prenda.bota" class="input-bota">
              <option selected disabled>Tipo de Bota...</option>
              <option value="Slim">Slim</option>
              <option value="Entubada">Entubada</option>
            </select>
          </div>
          <div *ngIf="zap == true" class="inp">
            <select [(ngModel)]="prenda.forma" class="input-forma">
              <option selected disabled>Tipo de Forma...</option>
              <option value="Redonda">Redonda</option>
              <option value="Punta">Punta</option>
            </select>
          </div>
          <div class="inp">
            <select [(ngModel)]="prenda.formalidad" class="input-formalidad">
              <option selected disabled>Nivel de formalidad...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="inp">
            <select [(ngModel)]="prenda.abrigo" class="input-abrigo">
              <option selected disabled>Nivel de abrigo...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="inp">
            <input [(ngModel)]="prenda.color" class="input-color" type="color" value="#ff0000">
          </div>
          <div class="inp">
            <input [(ngModel)]="prenda.descripcion" class="input-busqueda" [(ngModel)]="query" placeholder="Camisa blanca, Blusa roja..." type="text">
          </div>
          <button class="btn-buscar" (click)="searchImages()">Buscar</button>
        </div>
      </div>
      <div class="subir-box">
        <h2>¿No encontraste lo que buscabas? Sube tu propia foto</h2><br>
        <input type="file" id="file" (change)="subirFoto($event)">
        <label for="file">Subir Foto</label><br>
        <img *ngIf="selectedImage == true"  src="../../../assets/images/{{imageUser.name}}"><br>
        <button (click)="crearPrendaSubida()" *ngIf="selectedImage == true" class="btn-agregar">Crear prenda</button>
      </div>
    </div>
    <div *ngIf="llegoImagenes == true" class="api-box">
      <h2>Selecciona una imagen</h2>
      <div class="images">
        <div *ngFor="let image of images" class="img-api">
          <a (click)="selectImage(image.link)"><img src="{{image.link}}"></a>
        </div>
      </div>
      <div *ngIf="selected == true" class="agregar-box">
        <button (click)="crearPrendaBusqueda()" class="btn-agregar">Crear prenda</button>
      </div>
      <div class="msg-box">
        {{message}}
      </div>
    </div>
  </div>
</div>

