<div *ngIf="llegoUsuario == true" class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user.nickname}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a [routerLink]="['/perfil']"><i class="fas fa-user"></i></a>
      </div>
      <div class="share-box">
        <a><i class="fas fa-share"></i></a>
      </div>
      <div class="clima-box">
        <a [routerLink]="['/ver-clima']"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a><i class="fas fa-tshirt"></i></a><br>
        <a href="#">Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a [routerLink]="['/mi-armario']"><i class="fas fa-door-closed"></i></a>
        <a [routerLink]="['/mi-armario']">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a><i class="fas fa-star"></i></a>
        <a href="#">Favoritos</a>
      </div>
      <div class="history-box">
        <a><i class="fas fa-book"></i></a>
        <a href="#">Historial de atuendos</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title-box">
      <h2>Agregar Prenda</h2>
      <img src="../../../assets/images/logo.png" alt="Logo.png">
    </div>
    <div class="add-box">

      <div class="row">
        <div class="col-25">
          <label for="seccion">Sección:</label>
        </div>
        <div class="col-75">
          <select id="seccion">
            <option value="superior">Superior</option>
            <option value="inferior">Inferior</option>
            <option value="zapatos">Zapatos</option>
            <option value="accesorios">Accesorios</option>
          </select><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="tipo">Tipo de prenda:</label>
        </div>
        <div class="col-75">
          <input type="text" id="tipo" name="tipo" placeholder="camisa, camiseta, blusa, etc..." required><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="formalidad">Nivel de formalidad:</label>
        </div>
        <div class="col-75">
          <label class="radio-formalidad">
            <input type="radio" name="fradio" checked>1
          </label>
          <label class="radio-formalidad">
            <input type="radio" name="fradio">2
          </label>
          <label class="radio-formalidad">
            <input type="radio" name="fradio">3
          </label>
          <label class="radio-formalidad">
            <input type="radio" name="fradio">4
          </label>
          <label class="radio-formalidad">
            <input type="radio" name="fradio">5
          </label><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="abrigo">Nivel de abrigo:</label>
        </div>
        <div class="col-75">
          <label class="radio-abrigo">
            <input type="radio" name="aradio" checked>1
          </label>
          <label class="radio-abrigo">
            <input type="radio" name="aradio">2
          </label>
          <label class="radio-abrigo">
            <input type="radio" name="aradio">3
          </label>
          <label class="radio-abrigo">
            <input type="radio" name="aradio">4
          </label>
          <label class="radio-abrigo">
            <input type="radio" name="aradio">5
          </label><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="fav-color">Color:</label>
        </div>
        <div class="col-75">
          <input type="color" id="favcolor" name="favcolor" value="#ff0000"><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label>Nombre de la prenda:</label>
        </div>
        <div class="col-75">
          <input type="text" [(ngModel)]="query" placeholder="camisa blanca, blusa roja, etc..." required>
          <button (click)="searchImages()">Search</button>
        </div>
      </div>

      <div class="boton-subir">
        <button>Subir foto</button>
      </div>

    </div>

    <div class="api-box">
      <div *ngFor="let image of images" class="img-api">
        <img src="{{image.link}}" alt="Link...">
      </div>
    </div>

    <div class="boton-agregar">
      <button>Agregar Prenda</button>
    </div>
  </div>
</div>

