<div *ngIf="llegoUsuario == true" class="wrapper">
  <div class="side-bar">
    <div class="img-box">
      <img src="../../assets/images/SmartCloset.png" alt="SC...">
    </div>
    <div class="user-box">
      <div class="user-image">
        <a><i class="fas fa-wifi"></i></a>
      </div>
      <div class="user-name">
        <p>{{user.nickname}}</p>
      </div>
    </div>
    <div class="options-box">
      <div class="config-box">
        <a [routerLink]="['/perfil']"><i class="fas fa-user"></i></a>
      </div>
      <div class="share-box">
        <a><i class="fas fa-share"></i></a>
      </div>
      <div class="clima-box">
        <a [routerLink]="['/ver-clima']"><i class="fas fa-cloud"></i></a>
      </div>
    </div>
    <div class="cont-box">
      <div class="generate-box">
        <a><i class="fas fa-tshirt"></i></a><br>
        <a href="#">Generar atuendo</a>
      </div>
      <div class="closet-box">
        <a [routerLink]="['/mi-armario']"><i class="fas fa-door-closed"></i></a>
        <a [routerLink]="['/mi-armario']">Mi armario</a>
      </div>
      <div class="favorite-box">
        <a><i class="fas fa-star"></i></a>
        <a href="#">Favoritos</a>
      </div>
      <div class="history-box">
        <a><i class="fas fa-book"></i></a>
        <a href="#">Historial de atuendos</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title-box">
      <h2>Agregar Prenda</h2>
      <img src="../../../assets/images/logo.png" alt="Logo.png">
    </div>
    <div class="add-box">
      <div class="form">
        <div class="lbl-box">
          <div class="lbl">
            <label class="lbl-seccion">Sección</label>
          </div>
          <div class="lbl">
            <label class="lbl-prenda">Tipo de prenda</label>
          </div>
          <div class="lbl">
            <label class="lbl-formalidad">Nivel de formalidad</label>
          </div>
          <div class="lbl">
            <label class="lbl-abrigo">Nivel de abrigo</label>
          </div>
          <div class="lbl">
            <label class="lbl-color">Color</label>
          </div>
          <div class="lbl">
            <label class="lbl-descripcion">Descripción de búsqueda</label>
          </div>
        </div>
        <div class="input-box">
          <select class="input-seccion">
            <option selected disabled>Tipo de prenda...</option>
            <option value="Superior">Superior</option>
            <option value="Inferior">Inferior</option>
            <option value="Accesorio">Accesorio</option>
            <option value="Zapato">Zapato</option>
          </select><br>
          <input class="input-tipo" placeholder="Camisa, Camiseta, Blusa..." type="text"><br>
          <select class="input-formalidad">
            <option selected disabled>Nivel de formalidad...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select><br>
          <select class="input-abrigo">
            <option selected disabled>Nivel de abrigo...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select><br>
          <input class="input-color" type="color" value="#ff0000"><br>
          <input class="input-busqueda" [(ngModel)]="query" placeholder="Camisa blanca, Blusa roja..." type="text"> <br>
          <button class="btn-buscar" (click)="searchImages()">Buscar</button>
        </div>
      </div>
      <div class="subir-box">
        <h2>¿No encontraste lo que buscabas? Sube tu propia foto</h2>
        <button class="btn-subir">Subir foto</button><br>
        <img src="">
      </div>
    </div>
    <div *ngIf="llegoImagenes == true" class="api-box">
      <h2>Selecciona una imagen</h2>
      <div class="images">
        <div *ngFor="let image of images" class="img-api">
          <a (click)="selectImage(image.link)"><img src="{{image.link}}"></a>
        </div>
      </div>
      <div *ngIf="selected == true" class="agregar-box">
        <button class="btn-agregar">Crear prenda</button>
      </div>
      <div class="msg-box">
        {{message}}
      </div>
    </div>
  </div>
</div>

